.lfr-layout-structure-item-container {padding: 0;}.lfr-layout-structure-item-row {overflow: hidden;}p.layout-container.font-xsmall.title-desk {
  display: none;
}.lfr-layout-structure-item-aa1e564b-13d0-4c43-4b66-908018767da9 {
padding-bottom: var(--spacer-5,3rem) !important;
text-align: center !important;
}
