.lfr-layout-structure-item-container {padding: 0;}.lfr-layout-structure-item-row {overflow: hidden;}.lfr-layout-structure-item-74e9b656-a045-b020-cd01-b28347ec5619 {
text-align: center !important;
}
.lfr-layout-structure-item-c492763f-966c-5d36-fb8b-17719677b201 {
padding-bottom: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-60f4cf3d-eb20-31b2-7f8b-92da1ac41f78 {
display: none !important;
}
.lfr-layout-structure-item-a24d9758-a01d-e4f7-96a7-dad18296c487 {
display: none !important;
}
.lfr-layout-structure-item-c95ef7e2-fa85-fbd4-aaaf-905a78307fff {
display: none !important;
}
.lfr-layout-structure-item-bf4caf1c-5d39-8044-6e64-b35a01508076 {
padding-bottom: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-2a7a3af2-4953-9092-be4f-d4cd36fab9a9 {
display: none !important;
}
.lfr-layout-structure-item-ecb1c1e6-43a6-1f61-81d7-81eb719dd332 {
display: none !important;
}
.lfr-layout-structure-item-c369f78d-0fe8-6240-9c88-e582cb4d6761 {
display: none !important;
}
@media screen and (max-width: 567px){
.faq-container {
    padding: 0px;
}
}